.thats-all-folks {
  opacity: 0;
  transition: all 1s ease;
  transform: scale(.8);
}

.js-thats-all-folks-animated {
  opacity: 1;
  transform: scale(1);
}

.text-emerge {
  animation: emerge 2.5s ease forwards;
  transform: translateY(300px);
}

.text-emerge-1 {
  animation-delay: 2s;
}

.text-emerge-2 {
  animation-delay: 2.25s;
}

.text-emerge-3 {
  animation-delay: 2.5s;
}

.modal-text-emerge {
  transform: translateY(300px);
  opacity: 0;
}

.modal-text-emerge-1 {
  animation: emerge 1.5s ease forwards, fade-in 2.5s ease forwards;
}

.modal-text-emerge-2 {
  animation: emerge 1.5s ease .25s forwards, fade-in 2.5s ease .5s forwards;
}

.modal-text-emerge-3 {
  animation: emerge 1.5s ease .5s forwards, fade-in 2.5s ease 1s forwards;
}

.gord-head {
  animation: fade-in 5s ease-out 1s forwards;
  opacity: 0;
}

@keyframes fade-in {

  0% {
    opacity: 0;
  }

  100% {
   opacity: 1;
  }

}

@keyframes emerge {

  0% {
    transform: translateY(300px);
  }

  100% {
   transform: none;
  }

}


.head-emerge {
  animation: head-emerge 1.5s ease-out forwards;
  transform: translateY(3rem);
}

@keyframes head-emerge {

  from {
    transform: translateY(3rem);
  }

  to {
   transform: none;
  }

}

.scroll-text {
  position: fixed;
  top: 50%;
  width: 100000px;
  margin-left: 200%;
  z-index: -1;
  
  color: rgba(255,255,255,.05);
  font-family: CalibreWeb-Bold;
}

@media only screen and (min-width: 46em) {

  .scroll-text {
    margin-left: 150%;
  }
  
}

@media only screen and (min-width: 67em) {

  .scroll-text {
    margin-left: 125%;
  }
  
}