.overlay-3 .fluidbox__overlay  {
  background-color: rgba(0,0,0,.5);
  /* To override default style */
}
/* .overlay-3 .fluidbox__overlay::before {
  background-image: url('http://i.imgur.com/3qj1wfN.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  -webkit-filter: blur(4px);
} */
