.poster .fluidbox__overlay  {
  background-color: rgba(0,0,0,.5);
  /* To override default style */
}
.poster .fluidbox__overlay::before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  -webkit-filter: blur(25px);
}

.poster-cameron-stewart .fluidbox__overlay::before {
  background-image: linear-gradient( rgba(0,0,0,0.8), rgba(0, 0, 0, 0.8) ), url('{{site.baseurl}}/images/posters/cameron-stewart.jpg');
}

.poster-jp-brown .fluidbox__overlay::before {
  background-image: linear-gradient( rgba(0,0,0,0.8), rgba(0, 0, 0, 0.8) ), url('{{site.baseurl}}/images/posters/jp-brown.jpg');
}

.poster-matthew-peixoto .fluidbox__overlay::before {
  background-image: linear-gradient( rgba(0,0,0,0.8), rgba(0, 0, 0, 0.8) ), url('{{site.baseurl}}/images/posters/matthew-peixoto.jpg');
}

.poster-jason-redmond .fluidbox__overlay::before {
  background-image: linear-gradient( rgba(0,0,0,0.8), rgba(0, 0, 0, 0.8) ), url('{{site.baseurl}}/images/posters/jason-redmond.jpg');
}