.header {
  min-width: 320px;
  opacity: 0;
  animation: fade-in 1s ease-out 5s forwards;
}

.grid-header {
  height: 24px;
}

.hamburger,
.nav a {
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.logo {
  height: 24px;
  width: 70px;

  color: #fff;
}

.hamburger:hover,
.nav a:hover {
  opacity: .65;
}

.js-logo-active {
  color: #fff!important;
}

.menu-container {
  height: 100vh;
  min-width: 320px;

  background-color: #000;
  display: none;
}

.menu-item {
  opacity: 0;
  transform: scale(1.1) translateY(-24px);

  transition: opacity 350ms ease-out, transform 350ms ease-out, -webkit-transform 350ms ease-out;
}

.js-menu-item-active {
  opacity: 1;
  transform: none;
}

.menu-link {
  color: #fff;
}

.nav {
  transform: rotate(-10deg);
}

.nav li {
  line-height: .8;
}

.nav a:hover {
  opacity: 1;
}

.nav span:hover {
  color: var(--color-brand);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
}

@keyframes slide-left {

  0% {
    transform: translateX(3000px);
  }

  100% {
    transform: translateX(1000px);
  }

}

@keyframes slide-right {

  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(3000px);
  }

}

.nav li:nth-child(even) {
  animation: slide-left 120s linear infinite alternate;
}

.nav li:nth-child(odd) {
  animation: slide-right 120s linear infinite alternate;
}