.header {
  min-width: 320px;
}

.grid-header {
  height: 24px;
}

.logo,
.hamburger {
  transition: opacity 200ms ease-in-out;
}

.logo {
  height: 24px;
  width: 70px;

  color: #fff;

  transition: opacity 200ms ease-in-out;
}

.logo:hover {
  opacity: .65;
}