.hero {
  z-index: -1;
  min-height: 10em;
  max-height: 100vh;
}

h1 {
  color: #000;
  font-family: CalibreWeb-Bold;
  line-height: .82;
  text-transform: uppercase;
}

.indicator-link {
  opacity: 0;
  bottom: 10%;
  animation: fade-in 1s ease-out 5s forwards;
  cursor: pointer;
}

.indicator-inner {
  position: relative;
  display: block;
  width: 16px;
  height: 36px;
  margin: 0 auto;
  text-align: center;
  transition: opacity 1s ease-out 1s;
}

.i-indicator {
  width: 16px;
  height: 9px;
  color: var(--color-brand);
  animation: indicator-bounce 1s ease-in-out infinite;
}

.indicator-icon-bottom {
  animation-delay: 0.1s;
  position: relative;
  top: -15px;
}

.js-indicator-hide {
  opacity: 0;
}

@keyframes indicator-bounce {

  0%, 100% {
    opacity: .25;
    transform: translate3d(0, 0, 0);
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 3px, 0);
  }

}