@font-face {
  font-family: "CalibreWeb";
  src: url("../fonts/CalibreWeb-Regular.woff") format('woff');
}

@font-face {
  font-family: "CalibreWeb-Medium";
  src: url("../fonts/CalibreWeb-Medium.woff") format('woff');
}

@font-face {
  font-family: "CalibreWeb-Bold";
  src: url("../fonts/CalibreWeb-Bold.woff") format('woff');
}

html {
  min-width: 320px;
  overflow-x: hidden;

  background-color: #000;

  color: #fff;
  font-family: CalibreWeb-Medium;
}

h1 {
  color: #000;
  font-family: CalibreWeb-Bold;
  line-height: .82;
  text-transform: uppercase;
}

.scroll-lock {
  overflow: hidden;
  height: 100%;
}

.nina {
  line-height: .82;
}

.text-stroke {
  color: var(--color-brand);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--color-brand);
  text-stroke: 1px var(--color-brand);
}

.sup {
  text-decoration: underline;
  font-size: 53%;
  position: relative;
  bottom: 0.55em;
}

.wrapper {
  max-width: 68em;
}

.hero {
  z-index: -1;
  min-height: 10em;
  /* max-height: 66em; */
  max-height: 100vh;
}

.photo-bg {
  background-color: #121212;
}

.poster-grid-wrapper {
  max-width: 32em;
}

.thats-all-folks {
  max-width: 12em;
}

.poster {
  transition: transform .2s ease-out;
}

.cursor-pointer {
  cursor: pointer;
}

.js-animate {
  transform: translateY(20%);
  transition: transform 1s ease;
}

.js-animated {
  transform: translateY(0);
}

.overflow-hidden {
  overflow: hidden;
}

.fixed {
  position: fixed;
}

.modal-open {
  overflow: hidden;
}

.w-3-4 {
  width: 75%;
}

@media only screen and (min-width: 46em) {

  .poster-grid-wrapper {
    max-width: 52em;
  }

}

@media only screen and (min-width: 67em) {

  .poster-grid-wrapper {
    max-width: 62em;
  }

}