@font-face {
  font-family: "CalibreWeb-Regular";
  src: url("../fonts/CalibreWeb-Regular.woff") format('woff');
}

@font-face {
  font-family: "CalibreWeb-Medium";
  src: url("../fonts/CalibreWeb-Medium.woff") format('woff');
}

@font-face {
  font-family: "CalibreWeb-Bold";
  src: url("../fonts/CalibreWeb-Bold.woff") format('woff');
}

@font-face {
  font-family: "CalibreWeb-Black";
  src: url("../fonts/CalibreWeb-Black.woff") format('woff');
}

html {
  min-width: 320px;
  overflow-x: hidden;

  background-color: #000;

  color: #fff;
  font-family: CalibreWeb-Medium;
}

.scroll-lock {
  overflow: hidden;
  height: 100%;
}

.font-weight-black {
  font-family: CalibreWeb-Black;
}

.font-weight-regular {
  font-family: CalibreWeb-Regular;
}

.nina, .yotta {
  line-height: .8;
  font-family: CalibreWeb-Black;
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-brand);
  text-stroke: 1px var(--color-brand);
}

.sup {
  text-decoration: underline;
  font-size: 53%;
  position: relative;
  bottom: 0.55em;
}

.wrapper {
  max-width: 68em;
}

.photo-bg {
  background-color: #121212;
}

.poster-grid-wrapper {
  max-width: 32em;
}

.poster {
  transition: transform .2s ease-out;
}

.cursor-pointer {
  cursor: pointer;
}

.js-animate {
  transform: translateY(20%);
  transition: transform 1s ease;
}

.js-animated {
  transform: translateY(0);
}

.overflow-hidden {
  overflow: hidden;
}

.fixed {
  position: fixed;
}

.modal-open {
  overflow: hidden;
}

.w-3-4 {
  width: 75%;
}

@media only screen and (min-width: 46em) {

  .poster-grid-wrapper {
    max-width: 52em;
  }

}

@media only screen and (min-width: 67em) {

  .poster-grid-wrapper {
    max-width: 67em;
  }

}