.masonry:after {
  content: '';
  display: block;
  clear: both;
}

.item {
  float: left;
  width: 100%;
  height: auto;
  counter-increment: item;
}

.item:before {
  display: block;
  content: counter(item);
}

.intro {
  height: auto;
}

.embed-hala-al-jaber {
  padding-top: 155.09803922%;
}

.embed-anthony-colas,
.embed-miranda-taing {
  padding-top: 154.4921875%;
}

.embed-cameron-stewart {
  padding-top: 132.8125%;
}

.embed-matthew-peixoto {
  padding-top: 128.80859375%;
}

.embed-jason-redmond,
.embed-jp-brown {
  padding-top: 154.58984375%
}

@media only screen and (min-width: 46em) {

  .item {
    width: 50%;
  }

}