.masonry:after {
  content: '';
  display: block;
  clear: both;
}

.item {
  float: left;
  width: 100%;
  height: auto;
  counter-increment: item;
}

.item:before {
  display: block;
  content: counter(item);
}

.intro {
  height: auto;
}

@media only screen and (min-width: 46em) {

  .item {
    width: 50%;
  }

}