.modal {
  position: fixed;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  
  overflow-y: auto;
  background-color: #111;

  transition: transform .3s cubic-bezier(.28,.11,.32,1);
}

.hide {
  /* display: none; */
  transform: translateY(100vh);
}

.modal-content {
  max-width: 32em;
}

.i-showicons {
  width: 128px;
  height: 43px;
}

.btn-close-modal {
  transition: opacity .2s ease-in-out .3s;
  opacity: 0;
}

.js-btn-close-modal {
  opacity: 1;
}

.btn-close-modal:hover {
  opacity: .65;
}

ul > li::before {
  content: "—";
  float: left;
  margin-left: -1.5em;
  width: 1.3em;
  text-align: right;
  color: #454545;
}

.social-header {
  color: #9d9d9d;
}

@media only screen and (min-width: 46em) {

  .modal-content {
    max-width: 59em;
  }

  .modal-details {
    position: absolute;
    margin-left: 2.8rem;
    top: 50%;
    transform: translateY(-50%);
  }

}

@media only screen and (min-width: 67em) {

  .modal-details {
    margin-left: 6rem;
  }

}