.modal {
  display: none;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  min-width: 320px;
  z-index: 9999;
  
  background-color: #000;
  opacity: 0;
}

.modal-video {
  height: 75vh;
}

.js-open-modal {
  -webkit-animation: fade 1s cubic-bezier(.28,.11,.32,1) forwards;
          animation: fade 1s cubic-bezier(.28,.11,.32,1) forwards;
  display: block;
}

.js-open-modal .modal-bg {
  -webkit-animation: fade-bg 10s ease-out forwards;
          animation: fade-bg 10s ease-out forwards;
}

.js-open-modal .modal-img {
  -webkit-animation: fade-img 2s ease-out forwards;
          animation: fade-img 2s ease-out forwards;
}

@-webkit-keyframes fade {
  
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
  
}

@keyframes fade {
  
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
  
}

@-webkit-keyframes fade-bg {
  
  from {
    opacity: 0;
  }
  
  to {
    opacity: .5;
  }
  
}

@keyframes fade-bg {
  
  from {
    opacity: 0;
  }
  
  to {
    opacity: .5;
  }
  
}

@-webkit-keyframes fade-img {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-img {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal-content {
  max-width: 32em;
  height: 100%;
}

.modal-img-wrap {
  height: 100%;
  width: 100%;
}

.modal-img {
  max-width: 100%;
  max-height: 100%;
}

.i-showicons {
  width: 128px;
  height: 43px;
}

.btn-close-modal:hover {
  opacity: .65;
}

ul > li::before {
  content: "—";
  float: left;
  margin-left: -1.5em;
  width: 1.3em;
  text-align: right;
  color: #454545;
}

.social-header {
  color: #9d9d9d;
}

@media only screen and (min-width: 46em) {

  .modal-content {
    max-width: 59em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-box;
  }

  .modal-grid {
    max-width: 59em;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    -ms-flex-item-align: center;
        align-self: center;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }

  .modal-details {
    position: absolute;
    margin-left: 2.8rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .modal-bg {
    background-size: 50% auto;
    background-position: -150px -100px;
  }

  .m-pin-c {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

}

@media only screen and (min-width: 67em) {

  .modal-details {
    margin-left: 6rem;
  }

  .modal-bg {
    background-size: auto 75vh;
    background-position: -125px -100px;
  }
  

  .modal-grid {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

}