.pad-t-4 {
  padding-top: 5.2rem;
}

.pad-t-8 {
  padding-top: 10.4rem;
}

@media only screen and (min-width: 46em) {

  .pad-t-4 {
    padding-top: 5.6rem;
  }

  .pad-t-8 {
    padding-top: 11.2rem;
  }

}

@media only screen and (min-width: 67em) {

  .pad-t-4 {
    padding-top: 6rem;
  }

  .pad-t-4 {
    padding-top: 12rem;
  }

}