---
layout: default
---

<div class="text-center pad-t-4 gutter push-4">
  <div class="relative">
    <h1 class="tenamega push-0 pin-c">
      <div>M<span class="sup">c</span>Millan</div>
      <div class="text-stroke">poster</div>
      <div class="text-stroke">archive</div>
    </h1>
    <img class="img-flex center-block gord-head" src="{{site.baseurl}}/images/gord-head.jpg" alt="Gord head" />
  </div>
</div>

<section class="photo-grid wrapper gutter l-gutter-0">
  <div class="grid push-2">
    <div class="m-gutter l-gutter-2 giga unit s-1 m-1-2 unit-offset-m-1-2">
      <div class="intro-border"></div>
      <p class="pad-t-2">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </div>
  </div>

  <ol class="grid list-group push-0">
    {% assign people = site.people | reverse %}
    {% for person in people %}
      <li class="poster-unit unit s-1 m-1-2 m-gutter l-gutter-2 push-4 m-push-8">
        <button class="poster-btn btn-link text-left js-animate">
          <figure class="push-0 poster-figure">
            <div class="poster island-2 photo-bg push">
              <img class="img-flex" src="{{site.baseurl}}/images/posters/{{ person.name | replace: ' ', '-' | downcase }}.jpg" alt="{{ person.name }}'s poster" />
            </div>
            <figcaption class="text-center">
              <h2 class="mega push-0 not-bold">{{ person.name }}</h2>
              <p class="kilo push-0 color-neutral">{{ person.title }}</p>
            </figcaption>
          </figure>
        </button>
        {% include modal.html %}
      </li>
    {% endfor %}
  </ol>
</section>