<footer class="text-center pad-b-4">
  <div class="push-0">
    <i class="icon i-mcmillan">
      <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#mcm" /></svg>
    </i>
  </div>
  <!-- <ul class="list-group-inline push-0">
    <li class="push-r-1-2">
      <a class="icon-link" href="#">
        <i class="icon i-32">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#linkedin" /></svg>
        </i>
      </a>
    </li>
    <li class="push-r-1-2">
      <a class="icon-link" href="#">
        <i class="icon i-32">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#facebook" /></svg>
        </i>
      </a>
    </li>
    <li class="push-r-1-2">
      <a class="icon-link" href="#">
        <i class="icon i-32">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#vimeo" /></svg>
        </i>
      </a>
    </li>
    <li class="push-r-1-2">
      <a class="icon-link" href="#">
        <i class="icon i-32">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#instagram" /></svg>
        </i>
      </a>
    </li>
    <li>
      <a class="icon-link" href="#">
        <i class="icon i-32">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#twitter" /></svg>
        </i>
      </a>
    </li>
  </ul> -->
</footer>