<header class="header absolute w-1" role="banner">
  <div class="wrapper island">
    <div class="grid grid-middle grid-header zindex-1000 relative">
      <div class="unit s-1-2">
        <a class="icon logo" href="/">
          <span class="ib logo btn-focus" tabindex="-1">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#mcmillan" /></svg>
          </span>
        </a>
      </div>
      <div class="unit s-1-2 text-right">
        <i class="icon i-24">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#menu" /></svg>
        </i>
      </div>
    </div>
  </header>
  