<div class="hero h-w-1 text-center pad-t-4 pad-b-4">
  <div class="relative h-1 w-1">
    <h1 class="nina push-0 zindex-2 pin-c gutter pad-b-2">
      <div class="overflow-hidden">
        <div class="text-emerge text-emerge-1 color-brand">M<span class="sup">c</span>Millan</div>
      </div>
      <div class="overflow-hidden">
        <div class="text-emerge text-emerge-2 text-stroke">poster</div>
      </div>
      <div class="overflow-hidden">
        <div class="text-emerge text-emerge-3 text-stroke">archive</div>
      </div>
    </h1>
    <video class="gord-head h-1 pin-c h-1" id="video1" src="{{site.baseurl}}/videos/gord-head-loop.mp4" autoplay muted loop playsinline></video>
  </div>
  <div class="indicator-container zindex-1000">
    <a href="#gallery" class="indicator-link pin-bc">
      <div class="indicator-inner">
        <i class="icon i-indicator indicator-icon-top">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#arrow-down" /></svg>
        </i>
        <i class="icon i-indicator indicator-icon-bottom">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#arrow-down" /></svg>
        </i>
      </div>
    </a>
  </div>
</div>