<div class="modal">
  <div class="modal-content wrapper pad-t-4 push-4 gutter">
    <div class="grid">
      <div class="unit s-1 m-1-2 push-2 m-push-0">
        <img class="img-flex" src="{{site.baseurl}}/images/posters/matthew-peixoto.jpg" alt="{{include.name}}'s poster" />
      </button>
      </div>
      <div class="unit s-1 m-1-2 relative">
        <div class="modal-details">
          <h2 class="push-0 not-bold exa">Matthew Peixoto</h2>
          <p class="tera color-neutral push-2">Interaction Designer</p>
          <h3 class="mega social-header push-1-2">Find him on</h3>
          <ul class="mega push-0">
            <li class="push-1-2"><a class="btn btn-link" href="#">Twitter</a></li>
            <li class="push-1-2"><a class="btn btn-link" href="#">LinkedIn</a></li>
            <li><a class="btn btn-link" href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <button class="btn-link btn-close-modal ib pin-tr">
      <i class="icon i-24">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#close"></use></svg>
      </i>
    </button>
  </div>
</div>
