<div class="modal hide">
  <video class="modal-video pin-tl" id="modal-video" src="{{site.baseurl}}/videos/gord-head-fly-in.mp4" muted autoplay></video>
  <div class="modal-content wrapper">
    <div class="grid modal-grid m-pin-c w-1 gutter pad-t-4 pad-b-4">
      <div class="unit s-1 m-1-2 push-2 m-push-0">
          <div class="modal-img-wrap text-right">
            <img class="modal-img" src="{{site.baseurl}}/images/posters/{{ person.name | replace: ' ', '-' | downcase }}.jpg" alt="{{include.name}}'s poster" />
          </div>
      </button>
      </div>
      <div class="unit s-1 m-1-2 relative">
        <div class="modal-details">

          <div class="">
            <div class="overflow-hidden">
              <h2 class="modal-text-emerge modal-text-emerge-1 push-0 not-bold">{{ person.name }}</h2>
            </div>
            <div class="overflow-hidden">
              <p class="modal-text-emerge modal-text-emerge-2 giga color-neutral">{{ person.title }}</p>
            </div>
            <div class="overflow-hidden">
              <p class="modal-text-emerge modal-text-emerge-3 push-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="island pin-tr zindex-1000">
      <button class="btn-link btn-close-modal ib">
        <i class="icon i-24">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#close"></use></svg>
        </i>
      </button>
    </div>
  </div>
</div>
