<li class="push-1-4">
  <a class="btn btn-link ib" href="https://www.mcmillan.com">
    <span class="text-upper font-black">mcmillan.com</span>&nbsp;<span class="text-upper font-black">mcmillan.com</span>&nbsp;<span class="text-upper font-black">mcmillan.com</span>&nbsp;<span class="text-upper font-black">mcmillan.com</span>&nbsp;<span class="text-upper font-black">mcmillan.com</span>&nbsp;<span class="text-upper font-black">mcmillan.com</span>&nbsp;<span class="text-upper font-black">mcmillan.com</span>&nbsp;<span class="text-upper font-black">mcmillan.com</span>&nbsp;
  </a>
</li>