<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>McMillan Poster Archive</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#ffffff">
</head>
<body>

  {% include header.html %}

  <main role="main">
    {{content}}
  </main>
  
  <footer class="center-content pad-b-8">
    <img class="thats-all-folks" src="{{site.baseurl}}/images/thats-all-folks.png" alt="That's all folks!" />
  </footer>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
  <script src="https://cdn.rawgit.com/robin-dela/hover-effect/master/js/hover.min.js"></script>
  <script>
    new hoverEffect({
      parent: document.querySelector('.poster'),
      intensity1: 0.1,
      intensity2: 0.1,
      angle2: Math.PI / 2,
      image1: '{{site.baseurl}}/images/posters/jason-redmond.jpg',
      image2: '{{site.baseurl}}/images/posters/jason-redmond.jpg',
      displacementImage: 'https://cdn.rawgit.com/robin-dela/hover-effect/b6c6fd26/images/stripe1mul.png?raw=true'
    });
  </script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="some-path-where-you-dump-the-javascript-libraries/lib/bodyScrollLock.js"></script>
  <script src="{{site.baseurl}}/js/header.js"></script>
  <script src="{{site.baseurl}}/js/modal.js"></script>
</body>
</html>

